<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS tutorial</title>
    <link href="styles/style.css" type="text/css" />
    <script src="node_modules/angular/angular.min.js"></script>
</head>
<body ng-init="foods=['Paav Bhaji', 'Vada Pav', 'Pani Puri', 'Chole Bhature']">
    <input type="text" placeholder="Enter your favourite food" ng-model="favFood" />
    <p>Your favourite food is: {{ favFood }}</p>
    <!-- Expression in angular -->
    <p>You should also try:</p>
    <ul>
        <li ng-repeat="food in foods">{{ food }}</li>
    </ul>
</body>
</html>