<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS tutorial</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <header ng-include="'header.html'"></header>
    <div class="content">
        <div ng-controller="MyController" style="padding-top: 15px;">
            <button ng-click="order = 'name' ">Order By Name</button>
            <button ng-click="order = 'rank' ">Order by Rank</button>
            <input type="text" ng-model="search" placeholder="Search for ninjas" />
            <ul>
                <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.availabel">
                    <h3>{{ ninja.name }}</h3>
                    <div class="remove" ng-click="removeNinja(ninja)">x</div>
                    <span>{{ ninja.rank }} rank</span>
                </li>
            </ul>
            <form ng-submit="addNinja()">
                <input type="text" placeholder="Ninja's Name" ng-model="newninja.name" />
                <input type="text" placeholder="Ninja's Chakra" ng-model="newninja.chakra" />
                <input type="text" placeholder="Ninja's Rank" ng-model="newninja.rank" />
                <input type="submit" value="Add new Ninja" />
            </form>
        </div>
    </div>
</body>
</html>